@import 'globals.scss';


.work-to-lab-switch {
  --circle-diameter: 200px;
  --default-transition: all 0.4s;

  position: absolute;
  top: 0;
  right: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  
  z-index: 900;

  // mix-blend-mode: multiply;
}

.work-to-lab-switch.show {
  
}

.work-to-lab-switch.hide {

}

.work-to-lab-switch .switch-outer-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.work-to-lab-switch .switch-inner-container {
  position: absolute;  
  top: -76px;
  right: -72px;
}

.work-to-lab-switch .circle {
  /* position: relative;
  top: -76px;
  right: -72px; */

  width: var(--circle-diameter);
  height: var(--circle-diameter);

  border-radius: 100%;

  /* background-image: linear-gradient(145deg, #f9f8f8, #c5e8ff);
  opacity: 0.8;
  mix-blend-mode: soft-light; */

  background-color: black;
  
  transition: var(--defaultTransition);  
}

.work-to-lab-switch.show .circle {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.work-to-lab-switch.show:hover .circle {
  transform: scale(1.2);
}

.work-to-lab-switch.hide .circle {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}


.work-to-lab-switch .text {
  position: absolute;
  top: 112px;
  left: 45px;

  font-weight: bold;
  font-size: 22px;

  color: white;

  /* line-height: var(--pLineHeight); */  

  transition: var(--default-transition);
}

html[lang=tc] .work-to-lab-switch .text {
  left: 36px;
}

.work-to-lab-switch.show .text {
  opacity: 1;
  visibility: visible;
  transform: skewY(-20deg);
  /* transform: rotate(-45deg); */
}

.work-to-lab-switch.hide .text {
  opacity: 0;
  visibility: hidden;
  /* transform: skewY(0deg); */
  transform: rotate(0deg);
}

.work-to-lab-switch:hover .text {
  animation-name: bounce;
  transform-origin: center;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


/* animate.css */
@keyframes bounce {
  0%,20%,53%,80%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1);transform:translateZ(0) skewY(-20deg) scale(0.83333333)}
  /* 20%{animation-timing-function:cubic-bezier(.755,.05,.855,.06);transform:scale(1.3) skewY(-20deg)} */
  30%,43%{animation-timing-function:cubic-bezier(.755,.05,.855,.06);transform:scale(1) skewY(-20deg)}
  70%{animation-timing-function:cubic-bezier(.755,.05,.855,.06);transform:scale(0.95833333) skewY(-20deg)}
  90%{transform:scale(0.875) skewY(0deg)}
}


@include media-breakpoint-down(sm) {
  .work-to-lab-switch {
    display: none;
  }
}