/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.menu-transition {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  cursor: pointer;
}

#sidebar {
  height: 100%;
  width: 70px;
  /*update scroller margin-left as well*/
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 2px solid #E6E6E6;
}

#sidebar.active {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  width: 100%;
  padding-top: 100px;
}

#sidebar.active h3 {
  top: 55%;
}

#sidebar.active .logo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#sidebar .menu-item {
  display: none;
}

#sidebar.active .menu-item {
  display: block;
  color: #fff;
  font-family: "FuturaLT", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 150px;
    font-size: 80px;
}

#sidebar.active .menu-language {
  display: inline;
  font-size: 20px;
}

#sidebar.active a {
  display: inline;
  color: #fff;
}

#sidebar.active a:hover {
  color: #FFE000;
}

#sidebar h3 {
  font-family: "FuturaLT", sans-serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
  padding: 5px 10px;
  margin: 0 0 10px 0;
  line-height: 24px;
  /* Abs positioning makes it not take up vert space */
  position: absolute;
  top: 55%;
  left: 0;
  background: none;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

#sidebar .logo {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 50px;
}

#sidebar.active #menu-canvas {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#sidebar #menu-canvas {
  display: none;
}

/*
/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */



@media only screen and (max-width: 767px) {
    /*--[ Mobile styles go here]---------------------------*/
  #sidebar {
    height: 55px;
    width: 100%;
    /*update scroller margin-left as well*/
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    color: #000;
    padding-top: 0;
    border-bottom: 2px solid #E6E6E6;
  }

  #sidebar.active {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    height: 100%;
    padding-top: 100px;
  }

  #sidebar h3 {
    font-size: 16px;
    letter-spacing: 2px;
    /*text-transform: uppercase;*/
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    top: 12px;
    left: 50%;
    text-align: center;
    background: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);

  }

  #sidebar.active h3 {
    top: 12px;
  }

  #sidebar.active .menu-item {
    font-size: 40px;
  margin-left: 100px;
  }

  #sidebar.active .menu-language {
    display: inline;
    font-size: 18px;
  }


  #sidebar .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
  }
}





@media only screen and (max-width: 992px) {
    /*--[ Mobile styles go here]---------------------------*/

}


/*
/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/


/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {}
