
/*==============
.slideshow
==============*/

.slideshow {
  white-space: normal;
  position: relative;
}

.slideshow-img-on-right {
/*  padding: 0 0 0 100px;*/
}

.slideshow-img-on-left {
/*  padding: 0 100px 0 0px;*/
}


.slideshow img {
  display: block;
  padding: 0 10%;
  object-fit: cover;
  min-width: 100%;
  max-height: 500px;
}
.slideshow .slideshow-text {
  max-height: 500px;
}

.slideshow h2 {
  color: #000;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  font-weight: bold;
}


.slideshow p {
  width: 100%;
  height: 100%;
  padding: 0 0;
  color: #000;
  text-align: left;
}

.slideshow .owl-dot {

  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;

}

.slideshow .owl-dot.active {
  color: #18d26e;
}
.slideshow .owl-nav, .slideshow .owl-dots {

}

.slideshow .the-team-text img {
width: 100%;
}

.slideshow .the-team-text h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.slideshow .the-team-text p {
  text-align: center;
  font-size: 15px;
}


@media (max-width: 767px) {
  .slideshow {
    margin: 50px 0 50px 0;
    padding: 0 0 0 0;
  }

  .slideshow div{
    margin: 0 0 0 0;

  }

  .slideshow img {
    display: block;
    padding: 0 0;
    object-fit: cover;
    min-width: 100%;
    max-height: 500px;
  }

  .slideshow h2 {

    padding-top: 5%;
    padding-bottom: 5px;
    font-size: 20px;

  }


  .slideshow p {

  }


  .slideshow .the-team-text img {
  width: 100%;
  }

  .slideshow .the-team-text h3 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .slideshow .the-team-text p {
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
    font-size: 12px;
  }

}




/*













.slideshow-img-on-left .owl-nav, .slideshow-img-on-left .owl-dots {
  right: -30%;
  padding-right: 0;
  text-align: right;
}

.slideshow-img-on-right .owl-nav, .slideshow-img-on-right .owl-dots {
  left: -30%;
  padding-left: 0;
  text-align: left;
}



.slideshow-img-in-middle div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


*/
