.cov-battle {
  --covBattleDefaultTransition: all 0.4s;

  width: 100vw;
  height: 100vh;
}

.cov-battle .loading {
  transition: var(--covBattleDefaultTransition);
}

.cov-battle .loading.show {
  visibility: visible;
}

.cov-battle .loading.hide {
  visibility: hidden;
}

.cov-battle .loading .spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #555555;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

.cov-battle .webgl-content {
  transition: var(--covBattleDefaultTransition);
}

.cov-battle .webgl-content.show {
  visibility: visible;
}

.cov-battle .webgl-content.hide {
  visibility: hidden;
}

.cov-battle #gameContainer,
.cov-battle #gameContainer canvas {
  --covBattleAspect: calc(16 / 9);
  --covBattleMaxWidth: 960px;
  --covBattleMinWidth: 480px;
  --covBattleWidth: 85vw;

  max-width: var(--covBattleMaxWidth);
  max-height: calc(var(--covBattleMaxWidth) / var(--covBattleAspect));

  min-width: var(--covBattleMinWidth);
  min-height: calc(var(--covBattleMinWidth) / var(--covBattleAspect));

  width: var(--covBattleWidth);
  height: calc(var(--covBattleWidth) / var(--covBattleAspect));
}

.cov-battle .game-icon {
  width: 38px;
  vertical-align: middle;
}

.cov-battle .fullscreen {
  width: 38px;
  cursor: pointer;
}
