
@font-face {
    font-family: "FuturaLT";
    src: url('assets/futura_lt_bold1.ttf');
}

p{
  font-family: "FuturaLT",Gadget, sans-serif;
  font-weight: bold;
}

html, body {
  font-family: "FuturaLT",Gadget, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
