/*
==================================
Project-cover Section
==================================
*/

#block2 {
  white-space: normal;
  z-index: 1;
  width: 100%;
  height: 500px;
  width: 100%;
}

#video-landing {
  background: #EDEDED;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
  font-size: 14px;
  font-size: 14px;
  line-height: 24px;
  font-family: "FuturaLT", sans-serif;
}

#video-landing div {
  position: absolute;
  top: 0;
  margin: 0px 0 0 0;
  padding: 0 0 0 0;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
  /*background: rgba(0, 0, 0, 0.5);*/
  width: calc(100% - 70px);
}

#video-landing div div {
  width: 100%;
}

.video-text {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 500px;
  color: white;
}

.video-text h1 {
  position: relative;
  top: 320px;
  font-weight: bold;
  font-size: 32px;
  text-align: left;
}

.video-text h2 {
  position: relative;
  top: 320px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}

.video-text h2 {
  position: relative;
  top: 320px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}

.video-text a {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  z-index: 2;
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
}

.video-text a:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
}

.slideshow #video-landing-caption {
  margin-left: 70px;
}

.video-landing-text {
  position: relative;
  top: 300px;
  color: black;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 100px 200px 150px 200px;
}

.video-landing-text-l {
  font-weight: bold;
  width: 80%;
  text-align: left;
}

.video-landing-text-r {
  text-align: left;
  width: 80%;
}

/*--------------------------------------------------------------
# Section: photo-montage
--------------------------------------------------------------*/

.photo-montage {
  white-space: normal;
  margin: 50px 0 0 0;
  padding: 0;
}

.photo-montage div {
  margin: 0;
  padding: 0;
}

.photo-montage div div {
  object-fit: cover;
  min-height: 500px;
}

.photo-montage-l {
  object-fit: cover;
  width: 100%;
}

.photo-montage-r {
  object-fit: cover;
  width: 100%;
}

/*--------------------------------------------------------------
# Section: Slideshow
--------------------------------------------------------------*/

/*
.slideshow {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  top: 0px;
  float: none;
}

.intro-container {
  position: relative;
  float: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  height: 600px;
  background: url(../img/Triangle.png) left top;
  background-size: 70% 80%;
  background-repeat: no-repeat;
}

.intro-container div {
  width: 100%;
  height: 100%;
}

.slideshow img {
  display: block;
  padding: 0 10%;
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}

.slideshow h2 {
  color: #000;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
}

.slideshow p {
  width: 100%;
  height: 100%;
  padding: 0 0;
  color: #000;
}

.slideshow .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slideshow .carousel-item::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.slideshow .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .slideshow h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .slideshow p {
    width: 60%;
  }
}

.slideshow .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.slideshow .carousel-fade .carousel-inner .carousel-item, .slideshow .carousel-fade .carousel-inner .active.carousel-item-left, .slideshow .carousel-fade .carousel-inner .active.carousel-item-right {

     transition: 0.5s;

  opacity: 0;
}

.slideshow .carousel-fade .carousel-inner .active, .slideshow .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left, .slideshow .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.6s;
  transition-delay: 0.8s;
}

.slideshow .carousel-fade .carousel-inner .carousel-item-next, .slideshow .carousel-fade .carousel-inner .carousel-item-prev, .slideshow .carousel-fade .carousel-inner .active.carousel-item-left, .slideshow .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slideshow .carousel-control-prev, .slideshow .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  .slideshow .carousel-control-prev, .slideshow .carousel-control-next {
    width: 5%;
  }
}

.slideshow .carousel-control-next-icon, .slideshow .carousel-control-prev-icon {
  background-color: black;

  font-size: 32px;
  line-height: 1;
}

.slideshow .carousel-indicators {
  position: absolute;
  bottom: 70px;
  left: 40%;
  height: auto;
}

.slideshow .carousel-indicators .active {
  background-color: #000;
}

.slideshow .carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #AAA;
  cursor: pointer;
}
*/


/*==============
.slideshow
==============*/
.slideshow {
  white-space: normal;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  float: none;
  top: 0;
}

.slideshow-item img {
  display: block;
  padding: 0 10%;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}

.slideshow-item h2 {
  color: #000;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  font-weight: bold;
}

.slideshow-item p {
  width: 100%;
  height: 100%;
  padding: 0 0;
  color: #000;
  text-align: left;
}

.slideshow .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.slideshow .owl-dot.active {
  background-color: #18d26e;
}

.slideshow .owl-nav, .slideshow .owl-dots {
  position: absolute;
  bottom: 100px;
}

.slideshow-img-on-left .owl-nav, .slideshow-img-on-left .owl-dots {
  right: 0;
  padding-right: 20%;
  text-align: right;
}

.slideshow-img-on-right .owl-nav, .slideshow-img-on-right .owl-dots {
  left: 0;
  padding-left: 20%;
  text-align: left;
}

/*==============
.slideshow-2-col
==============*/
.slideshow-2-col {
  background-repeat: repeat;
}


.slideshow-2-col div div {
  padding: 0 200px;
}

.slideshow-2-col div div div {
  padding: 0 0;
}

.slideshow-2-col-item img {
  min-width: 90%;
  max-width: 90%;
}

.slideshow-2-col-item p {
  text-align: left;
  padding-top: 10px;
  padding-left: 5%;
}
