.client-list {

}

.clients {

}

.client-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.client img {
  object-fit: contain;
  object-position: center;

  width: 100%;
}

@media screen and (max-width: 767px) {
  .clients .row {
    justify-content: center;
  }
  .client-container {
    width: 33%;
  }
}