.client-list {

}

.clients {

}

.client-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client img {
  object-fit: contain;
  object-position: center;
}