/*--------------------------------------------------------------
#about general
--------------------------------*/

.about-section-bg {
  padding: 30px 0 30px 0;
}


@media (max-height: 630px) {
  .about-section-bg { /*TODO
    padding: 30px 0 30px 0;*/
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 30px;
  padding: 5px 0 5px 0;
  color: #000;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  position: relative;
}

.section-header p {
  text-align: left;
  padding: 5px 0 5px 0;
  width: 50%;
  color: #000;
}

/*--------------------------------------------------------------
#about01
--------------------------------*/

#about01 {
  background: rgba(255, 255, 255, 1), url(Triangle.png) fixed center center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 85vh;
}

#about01 h3 {
  color: #c6c6c6;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 45vh;
}

#about01 h1 {
  color: #000;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 53vh;
}

#img-hotpot {
  position: absolute;
  right: 40%;
  top: 1vh;
  height: 60vh;
}

#img-meet {
  position: absolute;
  right: 10%;
  margin-top: 15vh;
  width: 25vh;
}

#img-fish {
  position: absolute;
  right: 15%;
  margin-top: 70vh;
  z-index: 30;
  width: 25vh;
}

@media (max-height: 630px) {
  #about01 h3 {
    font-size: 3.5vh;
  }
  #about01 h1 {
    font-size: 7vh;
  }
}

/*
@media (max-width: 1024px) {

}
*/

/*
@media only screen and (max-width: 992px) {

}
*/

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/
  #img-hotpot {
    display: block;
max-width:45vh;
max-height:45vh;
width: auto;
height: auto;

  }
  #img-meet {
    width: 20vh;
    right: -10%;
  }
  #img-fish {
    width: 20vh;
  }
  #about01 h3 {
    font-size: 28px;
    top: 45vh;
  }
  #about01 h1 {
    font-size: 36px;
    top: 53vh;
  }
}

/*--------------------------------------------------------------
#media
--------------------------------*/

#media {
  background-color: #FFE000;
}

#media h1 {
  padding-top: 50px;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5em;
}

.media-video {
  padding: 30px 0;
  width: 100%;
}

.media-video iframe {
  max-width: 100%;
}

#media p {
  font-size: 18px;
}

/*
slideshow
*/

/*
.slideshow-img-and-text img {
  padding: 30px 100px 30px 0;
}
*/

.slideshow-img-and-text .img-container {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 60% 0 0 0;
  /* 56.25% = 100 / (w / h) = 100 / (1920 / 1080) */
}

.slideshow-img-and-text .img-container img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .slideshow-img-and-text img {
    padding: 0 0 0 0;
  }
}

/* Core-Value
--------------------------------*/

.core-value-title {
  opacity: 0.4;
}

#core-value {
  background: #FFE000;
}

#core-value .box {
  padding: 30px 20px;
}

#core-value .box-bg-01 {
  background-color: #093E6D;
  /*background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);*/
}

#core-value .box-bg-02 {
  background-color: #E296BA;
  /*background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);*/
}

#core-value .box-bg-03 {
  background-color: #97D0DD;
  /*background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);*/
}

#core-value img {
  max-width: 60%;
}

#core-value h4 {
  color: #fff;
  font-weight: 100;
  margin: 25px 10px;
  font-size: 18px;
}

#core-value p {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  bottom: 0;
}

#core-value div {
  text-align: center;
}

/*--------------------------------------------------------------
# slideshow //TODO
--------------------------------------------------------------*/

.slideshow {
  margin: 10px 0 10px 0;
}

/*--------------------------------------------------------------
# The-team
--------------------------------------------------------------*/

#the-team .container {
  position: relative;
  z-index: 10;
}

.slideshow .the-team-text img {
  width: 100%;
}

.slideshow .the-team-text h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.slideshow .the-team-text p {
  text-align: center;
  margin-top: 0px;
  padding-top: 5px;
  font-size: 14px;
}

#about-press {
  display: none;
}

@media only screen and (max-width: 767px) {
  .slideshow .the-team-text h3 {
    font-size: 12px;
  }
  .slideshow .the-team-text p {
    font-size: 11px;
  }
}

/*---------------------------
Serivce
--------------------------- */

.services-col {
  text-align: center;
}

.services-col h3 {
  text-align: center;
  font-size: 16px;
  margin-top: -55px;
}

.services-col .item-desc {
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
  height: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  cursor: pointer;
}

.services-col:hover .item-desc {
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.client-col {
  padding: 0px 10px;
  text-align: center;
}

.client-col img {}

/*---------------------------
  Client
  --------------------------- */

@media only screen and (max-width: 767px) {
  .client-col {}
  .client-col img {}
}
