/*--------------------------------------------------------------
#about01
--------------------------------*/

#about01 {
  background: rgba(255, 255, 255, 1), url(Triangle.png) fixed center center;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 60px 0 20px 0;
}

#about01 h3 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding: 500px 0 20px 0;
}

#about01 h1 {
  color: #000;
  font-size: 60px;
  font-weight: bold;
  padding: 0 0 20px 0;
}

#img-hotpot {
  position: absolute;
  right: 40%;
  top: 1%;
  max-width: 30%;
}

#img-meet {
  position: absolute;
  right: 20%;
  margin-top: 300px;
  width: 20%;
}

#img-fish {
  position: absolute;
  right: 20%;
  margin-top: 600px;
  z-index: 50;
  width: 20%;
}
/*
@media (max-width: 1024px) {

}
*/
@media only screen and (max-width: 992px) {
  #about01 h3 {
    margin-top: 550px;
    font-size: 30px;
    padding: 0 0 20px 0;
  }

  #about01 h1 {
    color: #000;
    font-size: 50px;
    font-weight: bold;
    padding: 20px 0 20px 0;
  }

  #img-hotpot {
    position: absolute;
    left: 0px;
    top: 10px;
    max-width: 500px;
  }

  #img-meet {

    right: 1%;
    margin-top: -350px;
    width: 30%;
  }

  #img-fish {

    right: 5%;
    margin-top: 100px;
    z-index: 50;
    width: 30%;
  }
}

@media only screen and (max-width: 767px) {
    /*--[ Mobile styles go here]---------------------------*/

    #about01 h3 {
      font-size: 25px;
      margin-top: 140px;
      padding: 100px 0 20px 0;
    }

    #about01 h1 {
      color: #000;
      font-size: 30px;
      font-weight: bold;
      padding: 0 0 20px 0;
    }

    #img-hotpot {

      left: -25%;
      top: -5px;
      max-width: 400px;
    }

    #img-meet {

      right: 10%;
      margin-top: -100px;
      width: 40%;
    }

    #img-fish {

      right: 10%;
      margin-top: 200px;
      z-index: 50;
      width: 30%;
    }

}

/*--------------------------------------------------------------
#media
--------------------------------*/

#media {
  background-color: #FFE000;
  padding: 60px 0 20px 0;
}

#media h1 {
  font-weight: bold;
  font-size: 25px;
  max-width: 600px;
}

.media-video {
  padding: 30px 0;
  width: 100%;
}

.media-video iframe {
  max-width: 100%;
}

#media p {
  font-size: 18px;
  max-width: 600px;
}

/* Core-Value
--------------------------------*/

#core-value {
  background: #000;
}

#core-value .box {
  padding: 30px 20px;
}

#core-value .box-bg-01 {
  background-color: #093E6D;
  /*background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);*/
}

#core-value .box-bg-02 {
  background-color: #E296BA;
  /*background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);*/
}

#core-value .box-bg-03 {
  background-color: #97D0DD;
  /*background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);*/
}

#core-value img {
  max-width: 60%;
}

#core-value h4 {
  color: #fff;
  font-weight: 100;
  margin: 25px 10px;
  font-size: 18px;
}

#core-value p {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px 0;
}


/*--------------------------------------------------------------
# The-team
--------------------------------------------------------------*/

#the-team .container {
  position: relative;
  z-index: 10;
}
