@import 'globals.scss';


body{
  white-space: initial;
}
ul, li{
  list-style: none;
}
#main{
  margin:0;
}
#popupVideo{
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}
#popupVideo.hide{
  opacity: 0;
  visibility: hidden;
}
#popupVideo .videoWrap{
  // width: 60%;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate3d(-50%,-50%,0);
  width: 100%;
  height: 100%;
}
// #popupVideo .videoWrap:before{
//   content: '';
//   display: block;
//   padding-top: 56.25%;
// }
#popupVideo .videoWrap video{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: black;
}
#popupVideo .bg{
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.7);
}
#popupVideo .popup-video-close {
  transition: all 2s;

  visibility: visible;
  opacity: 1;
  
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: transparent;
  color: #efeff5;
  mix-blend-mode: exclusion;
  font-size: 1.25em;

  cursor: pointer;
}
#popupVideo.hide .popup-video-close {
  visibility: hidden;
  opacity: 0;
}
#homepage #featuredVideo{
  width:100vw;
  height:100vh;
  background:#999;
  overflow: hidden;
  position: relative;
  left: -55px;
}
#homepage #featuredVideo #cursor{
  width:0;
  height:0;
  position: absolute;
  top:0;
  left:0;
  mix-blend-mode: exclusion;
}
#homepage #featuredVideo #cursor span{
  width:0px;
  height:0px;
  border-radius: 50%;
  background:#fff;
  z-index: 2;
  display: block;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(-50%,-50%,0);
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
}
#homepage #featuredVideo #cursor span:nth-child(1){
  position: absolute;
  top: 0;
  mix-blend-mode: exclusion;
}
#homepage #featuredVideo video{
  width: 100%;
  height: 100%;
  object-fit: cover;

  // mix-blend-mode: multiply;
}
#homepage #featuredVideo video:hover{
  cursor: none;
}
#homepage #featuredVideo .companyLogo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  font-size: 40px;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.04em;
  // mix-blend-mode: exclusion;
}

#homepage #featuredVideo .videoDescription {
  position: absolute;
  bottom: 100px;
  left: 50%;
  color: #FFFFFF;
  // mix-blend-mode: exclusion;
}

#homepage #featuredVideo .videoDescription .videoTitle {
  font-size: 3vw;
  font-weight: bold;
}

#homepage #featuredVideo .videoDescription .scrollHint {
  font-size: 1.5vw;
  margin-top: 1em;
}

html[lang=en] #homepage #featuredVideo .videoDescription .scrollHint {
  font-family: serif;
}

#homepage .top-video-scrollHint-return-icon-container {
  position: relative;
  top: -0.7em;
}


@include media-breakpoint-down(sm) {
  #popupVideo .popup-video-close {
    left: 5%;
  }
  #homepage #featuredVideo {
    left: 0;
  }
  #homepage #featuredVideo .companyLogo {
    display: none;
  }
  #homepage #featuredVideo .videoDescription {
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  #homepage #featuredVideo .videoDescription .videoTitle {
    font-size: 6vw;
  }
  #homepage #featuredVideo .videoDescription .scrollHint {
    font-size: 24px;
  }
}