#homepage-top-logo {
  position: relative;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 15px;
  text-transform: uppercase;
  opacity: 1;
}

#homepage-top {
  height: 75vh;
}

.iframe-p5-div-mobile {
  display: none;
}

.homepage-top-logo-div {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.iframe-p5-div {
  position: absolute;
  top: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;

  overflow: hidden;
}

.iframe-p5-inside-div {
  height: 75vh;
}

.iframe-p5 {
  box-sizing: border-box;
  border: none;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homepage-showreel {
  position: absolute;
  top: 55vh;
  z-index: 10;
  width: 100%;
  margin-left: -25px;
  float: left;
}

#homepage-top .homepage-showreel-text {
  position: relative;
  white-space: normal;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  float: left;
  left: 48%;
  transform: translate(-50%, -50%);
}

#homepage-top .homepage-showreel-text::after {
  white-space: nowrap;
}

.homepage-showreel img::before {
  white-space: nowrap;
}

.homepage-showreel img {
  position: relative;
  z-index: 10;
  text-align: left;
  float: left;
  width: 35px;
  left: 48%;
  transform: translate(-50%, -50%);
  margin-left: -205px;
}

#homepage-top span {
  display: none;
  padding-left: 10px;
  text-decoration: line-through;
}

.homepage-showreel-hr {}

#homepage-selected-project {
  margin: 0 0 0 0;
  padding: 50px 0 0 0;
  width: 100%;
  left: 0;
  right: 0;
}

#homepage-selected-project li {
  font-weight: bold;
  cursor: pointer;
  margin: 0 15px 0 0;
  display: inline-block;
  padding: 5px 20px 0 0;
  font-size: 16px;
  color: #000;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#homepage-selected-project li span {
  display: none;
  font-weight: 100;
  font-size: 11px;
  position: absolute;
  margin-bottom: 8px;
}

#homepage-selected-project li:hover, #homepage-selected-project li.filter-active {
  /*  color: #FFE000;
  background: #FFF;*/
}

#homepage-selected-project li:last-child {
  margin-right: 0;
}

#homepage-selected-project .row {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#homepage-selected-project .row div {
  display: block;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float:left;
}

#homepage-selected-project .portfolio-wrap {
  width: 100%;
  overflow-y: hidden;
  transition: 0.3s;
}

#homepage-selected-project .portfolio-wrap:hover {
  cursor: pointer;
  transition: 0.2s linear;
  opacity: 0.8;
  background: linear-gradient(rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0));
}

#homepage-selected-project .portfolio-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#homepage-selected-project .portfolio-wrap .img-container {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 50% 0 0 0;
  /* 56.25% = 100 / (w / h) = 100 / (1920 / 1080) */
}

#homepage-selected-project .portfolio-wrap .img-container img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
}

#homepage-selected-project .portfolio-wrap a:hover {
  opacity: 1;
  left: calc(50% - 44px);
}

#homepage-selected-project .portfolio-wrap .portfolio-info {
  text-align: left;
  padding: 0 30px;
  z-index: 10;
  /*border-radius: 0 0 3px 3px;*/
}

#homepage-selected-project .portfolio-wrap .portfolio-info h4 {
  position: absolute;
  bottom: 90px;
  font-size: 18px;
  line-height: 1px;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: white;
}

#homepage-selected-project .portfolio-wrap .portfolio-info p {
  position: absolute;
  bottom: 40px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}

#homepage-lab p {
  display: none;
  /*TODO*/
  font-weight: bold;
  text-align: left;
  font-size: 80px;
  width: 100%;
  padding: 0 100px;
}

#homepage-core-value {
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}

#homepage-core-value div {
  padding: 0 0;
  margin: 0 auto;
}

#homepage-core-value h4 {
  position: absolute;
  padding: 20px 40px;
  color: white;
  font-size: 18px;
}

#homepage-core-value img {
  width: 100%;
  padding: 0 20px;
}

.about-section-right img {
  height: 50%;
}

.about-section-right-p-div {
  position: absolute;
  background: white;
  width: 100%;
  height: 50%;
  top: 50%;
}

.about-section-right p {
  padding: 40px 40px 0 20px;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

@media only screen and (max-width: 1500px) {
  /*--[ Mobile styles go here]---------------------------*/
  #homepage-lab p {
    font-weight: bold;
    text-align: left;
    font-size: 50px;
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .about-section-right p {
    padding-top: 20px;
    font-size: 20px;
  }
  #homepage-top {}
  .homepage-top-logo-div {}
  .iframe-p5-div-mobile {
    display: block;
  }
  .iframe-p5-div-mobile h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30vh;
    font-size: 120px;
    letter-spacing: 10px;
    color: black;
    display: block;
    font-weight: bold;
    left: 0;
  }
  .iframe-p5-inside-div {
    display: none;
  }
  .iframe-p5 {}
}

@media only screen and (max-width: 767px) {
  /*----------------------------
  [ Mobile styles go here]
  ---------------------------*/
  #homepage-top-logo {
opacity: 0;
  }
  .homepage-top-logo-div {
    top: 0px;
    bottom: 0px;
    height: auto;
    position: relative;
  }
  #homepage-top {
    height: auto;
    position: relative;
  }
  #homepage-selected-project {
    padding: 10px 0 0 0;
  }
  #homepage-core-value div {
    padding: 0 0;
    margin: 0 auto;
  }
  #homepage-core-value {
    padding: 0 0;
    margin: 50px 0;
  }
  #homepage-lab p {
    font-weight: bold;
    text-align: left;
    font-size: 50px;
    width: 90%;
  }
  #homepage-selected-project .portfolio-wrap .portfolio-info {
    padding: 15px;
  }
  #homepage-selected-project .portfolio-wrap .img-container {
    padding-top: 0;
  }
  #homepage-selected-project .portfolio-wrap .img-container img {
    position: static;
  }
  #homepage-selected-project .portfolio-wrap .portfolio-info h4 {
    position: static;
    color: black;
    font-size: 14px;
  }
  #homepage-selected-project .portfolio-wrap .portfolio-info p {
    position: static;
    color: black;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.7em;
  }
  .about-section-left {
    display: none;
  }
  .about-section-right p {
    font-size: 16px;
  }
  .about-section-right-p-div {
    position: relative;
    top: 0;
  }
  .iframe-p5-div {
    position: relative;
  }
  .iframe-p5-div-mobile h1 {
    position: relative;
    text-align: center;
    width: 100%;
    top: 0;
    margin-top: 1.3em;
    font-size: 120px;
    letter-spacing: 10px;
    color: black;
    display: block;
    font-weight: bold;
    left: 0;
  }
  .homepage-showreel {
    position: relative;
    z-index: 10;
    top: 0;
    margin: 19% auto 0;
  }
  #homepage-top .homepage-showreel-text {
    position: relative;
    white-space: pre-wrap;
    font-size: 25px;
    text-align: center;
    width: 275px;
    left: 0;
    float: none;
    transform: none;
  }
  #homepage-top .homepage-showreel-text::after {
    white-space: nowrap;
  }
  .homepage-showreel img::before {
    white-space: nowrap;
  }
  .homepage-showreel img {
    position: relative;
    z-index: 10;
    text-align: left;
    float: none;
    width: 80px;
    padding-top: 0;
    margin-left: -40px;
    transform: none;
  }

  #portfolio-flters {
    padding: 80px 0 0;
  }
  #homepage-selected-project li {
    padding-right: 10px;
  }
  #homepage-selected-project .portfolio-wrap .portfolio-info h4 {

    word-wrap: break-word;
    line-height: normal;

  }
}
