.lab-bg {
  background-color: #000000;
  color: white;
}

.video-text h3 {
  color: #888;
  z-index: 10;
  font-size: 30px;
  padding: 5px 0 5px 0;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  bottom: 180px;
}

.video-text h1 {
  color: white;
  font-weight: bold;
  z-index: 10;
  font-size: 50px;
  text-align: left;
  padding: 5px 0 5px 0;
  position: absolute;
  text-transform: uppercase;
  bottom: 50px;
}

.lab-item {
  width: 100%;
  margin: 0 0;
  background: rgba(0,0,0,0);
  padding: 20px;
}

.lab-item h1 {
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  bottom: 0px;
  font-weight: bold;
  font-size: 30px;
  z-index: 2;
}

.lab-item h3 {
  position: absolute;
  font-size: 20px;
  bottom: 40px;
  z-index: 2;
}

.lab-item .img-container {
  /*display: table;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 50% 0 0 0;*/
  /* 56.25% = 100 / (w / h) = 100 / (1920 / 1080) */
}

.lab-item .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*  padding: 50% 0 0 0;*/
}

.img-container-child img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

#lab-list {
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/
}
