@import 'globals.scss';


.not-found-page {

}

.not-found-page .content-container {
  padding-left: var(--scrollerMarginLeft);
  padding-top: 5%;
}


@include media-breakpoint-down(sm) {
  .not-found-page .content-container {
    padding-top: 7.5%;
  }
}