/*
General
*/

.project-section-bg {
  position: relative;
  margin: 0 0;
  padding: 40px 0;
}

/*
==================================
Project-cover Section
==================================
*/

/*
Video Cover Section
*/

/*
pop-up
*/

#video-landing {
  position: relative;
  background: #EDEDED;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  /* font-family: "FuturaLT", sans-serif; */
  height: 60vh;
  /* width: 100%; */
  margin-left: -55px;
  overflow: hidden;
}

#video-landing .video-landing-div {
  position: absolute;
  top: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 60vh;
  /*background: rgba(0, 0, 0, 0.5);*/
  width: 100%;
}

#video-landing .video-landing-div div {
  padding: 0 0 0 0;
}

#video-landing div div {
  width: 100%;
}

#video-landing-caption {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#video-landing .video-text {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
}
#video-landing .project-title-div {
  position: absolute;
  bottom: 0;
  left: 35px;
}
#video-landing .video-text .pop-up-vid-div {
  /* text-align: right; */
  position: absolute;
  right: 8.33333333%;
  width: auto;
  bottom: 0;
}
#video-landing .video-text h1 {
  position: static;
  /* top: 39vh; */
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  line-height: 1.3em;
  margin-bottom: 30px;
}

#video-landing .video-text h2 {
  position: static;
  /* top: 53vh; */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.05em;
  margin-bottom: 46px;
  /* margin-bottom: 22px; */
}

#video-landing .video-text a {
  position: static;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  z-index: 2;
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
  top: auto;
  display: block;
  margin-bottom: 42px;
  transition: all 0.2s;
  transform: none;
  text-decoration: none;
}
#video-landing .video-text a:hover {
  padding: 14px 19px;
  margin-right: -4px;
  margin-bottom: 38px;
}

#video-landing-caption .video-landing-text {
  position: relative;
  float: left;
  top: 0;
  color: black;
  z-index: 2;
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding: 100px 0 100px 0;
}

#video-landing-caption .video-landing-text div {
  padding: 0 0;
}

#video-landing-caption .video-landing-text-l {
  font-weight: bold;
  text-align: left;
}

#video-landing-caption .video-landing-text-r {
  text-align: left;
}

#video-landing .projectlist-showreel-img {
  width: 25px;
  margin-top: -5px;
}

@media (max-height: 700px) {
  #video-landing .video-text h1 {
    top: 35vh;
    font-size: 36px;
  }
  #video-landing .video-text h2 {
    top: 52vh;
    font-size: 16px;
  }
  #video-landing .video-text a {
    top: 50vh;
  }
}

@media (max-height: 600px) {
  #video-landing .video-text h1 {
    top: 30vh;
    font-size: 30px;
  }
  #video-landing .video-text h2 {
    top: 50vh;
    font-size: 12px;
  }
  #video-landing .video-text a {
    top: 35vh;
  }
}

/*
-------------- cover --------------
*/

/*
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  //Player ratio: 100 / (1280 / 720)
  z-index: 0;
  width: 100%;
}

.react-player {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

video {
  display: block;
}
*/

#video-landing .player-wrapper {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  width: 100%;
  height: 60vh;
  background-color: black;
}

#video-landing .react-player {
  width: 100%;
}

#video-landing video, #video-landing img  {
  width: 100%;
  object-fit: cover;
}



@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/
  
  #video-landing {
    margin-left: 0;
  }
  #video-landing .player-wrapper {
    overflow: hidden;
  }
  #video-landing .react-player {
    width: auto;
    min-height: 60vh;
    max-height: 60vh;
  }
  #video-landing video {
    width: auto;
    min-height: 60vh;
    max-height: 60vh;
  }
  #video-landing .col-md-5 {
    position: static;
    left: 50%;
    top: 50%;
    bottom: auto;
    /* transform: translate(-50%, -50%); */
  }
  #video-landing .video-text h1 {
    position: static;
    text-align: center;
    font-size: 25px;
    width: 75%;
    padding: 0;
    margin: 0 auto 15px;
    /*top: 20vh;*/
  }
  #video-landing .pop-up-vid-div {
    top: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    transform: none;
  }
  #video-landing .video-text .row {
    margin: 0;
  }
  #video-landing .video-text h2 {
    position: static;
    text-align: center;
    font-size: 14px;
    /*top: 40vh;*/
    width: 50%;
    padding: 0;
    margin: 0 auto;
    line-height: 1.4em;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
  }
  #video-landing .video-text .pop-up-vid-div {
    text-align: center;
    position: relative;
    top: auto;
    bottom: auto;
    left: 0;
    right: 0;
    margin-top: 1em;
    /* transform: translateY(-50%); */
  }
  #video-landing .video-text a {
    /*top: 0;*/
    font-size: 12px;
    width: 50%;
    display: block;
    margin: 0 auto;
    transition: none;
    position: relative;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
  }
  #video-landing .video-text a:hover {
    padding: 10px 15px;
    margin-right: auto;
    margin-bottom: 0px;
  }
  #video-landing-caption .video-landing-text {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    margin: 0;
  }
}

/*--------------------------------------------------------------
# Section: photo-montage
--------------------------------------------------------------*/

.photo-montage {
  position: relative;
  white-space: normal;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}

.photo-montage img {
  width: 100%;
}

.photo-montage div {
  margin: 0;
  padding: 0;
  width: 100%;
}
.photo-montage div div {
  object-fit: cover;
}

.photo-montage-l {
  object-fit: cover;
  width: 100%;
}

.photo-montage-r {
  object-fit: cover;
  width: 100%;
}

/*--------------------------------------------------------------
# Section: photo-montage
--------------------------------------------------------------*/

.photo-montage-one-video {
  position: relative;
  white-space: normal;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}
.photo-montage-one-video > div {
  padding: 0;
  margin: 0;
}
.photo-montage-one-video .video-wrapper {
  margin: 30px 0;
  padding: 0;
  position: relative;
  padding-top: 56.25%;
}
.photo-montage-one-text + section.photo-montage-one-video .video-wrapper {
  margin: 0;
}
.photo-montage-one-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.photo-montage-one-video .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  cursor: pointer;
}

.photo-montage-one-video .play-button:after {
  content: '';
  border-left: 40px solid #000;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  display: block;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-40%, -50%);
}

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/

  .photo-montage-one-text div {
    padding: 0;
  }
}

/*==============
.slideshow-img-on-left, .slideshow-img-on-right
==============*/

.slideshow-img-on-right .slideshow-item div {
  padding: 0 0;
}

.slideshow-img-on-left .slideshow-item div {
  padding: 0 0;
}

.slideshow-img-on-right .slideshow-item div div {
  padding: 0 0;
}

.slideshow-img-on-left .slideshow-item div div {
  padding: 0 0;
}

.slideshow-img-on-left .img-container {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 60% 0 0 0;
  /* 56.25% = 100 / (w / h) = 100 / (1920 / 1080) */
}

.slideshow-img-on-left .img-container img {
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
}

/*==============
.slideshow-img-in-middle
==============*/

.slideshow-img-in-middle {
  padding: 40px 0;
  text-align: center;
}

.slideshow-img-in-middle div .col-md-1 {
  padding: 0 0;
}

.slideshow-img-in-middle div div div {
  margin: 0 0;
}

.slideshow-img-in-middle .img-container {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 66.67% 0 0 0;
  /* 56.25% = 100 / (w / h) = 100 / (1920 / 1080) */
}

.slideshow-img-in-middle .img-container img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*==============
.slideshow-2-col
==============*/

.slideshow-2-col {
  background-repeat: repeat;
}

.slideshow-2-col-item img {
  min-width: 90%;
  max-width: 90%;
}

.slideshow-2-col-item p {
  text-align: left;
  padding-top: 10px;
  padding-left: 5%;
  font-size: 14px;
}

.two-col-left {
  padding-top: 0;
}

.two-col-right {
  padding-top: 100px;
}

/*==============
.photo-montage-one-vid
==============*/

.photo-montage-one-vid {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.photo-montage-one-vid div {
  margin: 0 0 -6px 0;
  padding: 0 0 0 0;
}

.photo-montage-one-vid video {
  width: 100%;
  height: auto;

}

/*==============
.photo-montage-one-img
==============*/

.photo-montage-one-img-full-width {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  width: 100%;
}

.photo-montage-one-img-full-width div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.photo-montage-one-img-full-width img {
  width: 100%;
}

/* TODO: commented out by Chris */

.photo-montage-one-img {
  margin: 0 0 0 0;
  padding: 40px 0 40px 0;
  text-align: center;
  width: 100%;
}

.photo-montage-one-img div {
  padding: 0 0 0 0;
}

.photo-montage-one-img img {
  width: 100%;
}

/*==============
.photo-montage-one-text
==============*/

.photo-montage-one-text {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.photo-montage-one-text p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  line-height: 1.7em;
}

.photo-montage-one-text div {
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
  font-weight: bold;
}


#project-detail-page-space-buffer{
  width: 100%;
  height: 40px;
}


#project-info .wrap{
  display: flex;
  flex-wrap: wrap;
  border-top:1px solid #d5d5d5;
  padding:12px 0;
}
#project-info .title{
  width:40%;
  text-transform: uppercase;
  font-weight: bolder;
}
#project-info .content{
  width:60%;
}
#project-info #summary .content{
  padding-bottom:5px;
}
#project-info #summary .item{
  display: flex;
  padding-top:15px;
}
#project-info #summary .item:first-child{
  padding-top:0;
}
#project-info #summary .item span{
  flex:1;
}
#project-info #summary .item span:first-child{
  flex:0;
  flex-basis: 25%;
}
#project-info #tag{
  padding-top:15px;
}
#project-info #tag .content{
  margin-left:-10px;
  font-size: 14px;
}
#project-info #tag span{
  min-width: 70px;
  text-align: center;
  display: inline-block;
  border:1px solid #d5d5d5;
  margin-left:10px;
  margin-bottom: 10px;
  padding:4px 5px 3px;
}

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/
  
  #video-landing .project-title-div {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .project-section-bg {
    padding: 20px 0;
  }
  .slideshow-2-col div div {
    padding: 0 0;
  }
  .slideshow-2-col div div.slideshow-2-col-item {
    padding: 0 15px;
  }
  .slideshow-2-col-item img {
    min-width: 100%;
    max-width: 100%;
  }
  .slideshow-2-col-item p {
    text-align: left;
    padding-top: 10px;
    padding-left: 0;
  }
  .photo-montage-one-vid{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .photo-montage-one-vid div{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .photo-montage-one-vid video {
    vertical-align: top;
  }
  .photo-montage-one-img {
    padding: 0;
  }
  .photo-montage-one-img div {
    margin: 0;
  }
  .photo-montage-one-text{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .photo-montage-one-text div {
    padding: 0;
  }
  .photo-montage-one-text .col-md-4 {
    padding: 15px 30px;
  }
  .photo-montage-one-img-full-width{
    padding: 0 0;
  }
  .slideshow.slideshow-img-on-left > div {
    display: flex;
    flex-direction: column-reverse;
  }
  .slideshow .owl-dot {
    width: 8px;
    height: 8px;
  }
  .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
  }
  .slideshow {
    margin: 0;
  }
  .slideshow-img-in-middle .img-container img {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  #project-info .title{
    width:30%;
  }
}

html[lang=zh] #video-landing .video-text h1,
html[lang=tc] #video-landing .video-text h1 {
  line-height: 1.5em;
}
html[lang=zh] #video-landing-caption .video-landing-text-l,
html[lang=tc] #video-landing-caption .video-landing-text-l,
html[lang=zh] #video-landing-caption .video-landing-text-r,
html[lang=tc] #video-landing-caption .video-landing-text-r {
  line-height: 1.7em;
}

html[lang=zh] #video-landing .video-text a,
html[lang=tc] #video-landing .video-text a {
  font-weight: 400;
}