/*
General
*/

.project-section-bg {
  margin: 0 0;
  padding: 40px 0;
}

/*
==================================
Project-cover Section
==================================
*/

/*
Video Cover Section
*/

/*
pop-up
*/


#video-landing {
  position: relative;
  height: 500px;
  background: #EDEDED;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
  font-size: 14px;
  font-size: 14px;
  line-height: 24px;
  font-family: "FuturaLT", sans-serif;
  width: 100%;
}

.video-landing-div {
  position: absolute;
  top: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 500px;
  /*background: rgba(0, 0, 0, 0.5);*/
  width: 100%;
}

.video-landing-div div {
  padding: 0 0 0 0;
}

#video-landing div div {
  width: 100%;
}

#video-landing-caption {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.video-text {
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
}

.video-text .pop-up-vid-div {
  text-align: right;
}

.video-text h1 {
  position: relative;
  top: 320px;
  font-weight: bold;
  font-size: 32px;
  text-align: left;
}

.video-text h2 {
  position: relative;
  top: 320px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}

.video-text a {
  position: relative;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  z-index: 2;
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
  top: 400px;
}



.video-landing-text {
  position: relative;
  float: left;
  top: 0;
  color: black;
  z-index: 2;
  width: 100%;
  text-align: left;
  padding: 100px 0 100px 0;
}

.video-landing-text-l {
  font-weight: bold;

  text-align: left;
}

.video-landing-text-r {
  text-align: left;

}

/*
-------------- cover --------------
*/

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
  z-index: 0;
  width: 100%;
}

/*
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
min-width: 100%;

}
*/

.react-player {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

video {
  display: block;
}

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------//TODO */
  #video-landing {
    top: 55px;
    height: 400px;
  }
  .video-landing-div {

    height: 400px;

  }
  .video-text {

    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 400px;
    color: white;
  }
  .video-text h1 {
    position: relative;
    left: 10px;
    top: 250px;
    font-size: 22px;
  }
  .video-text h2 {
    position: relative;
    left: 10px;
    top: 250px;
    font-size: 14px;
  }
  .video-text a {
    top: 210px;
    right: 10px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 25px;
  }
}

/*--------------------------------------------------------------
# Section: photo-montage
--------------------------------------------------------------*/

.photo-montage {
  position: relative;
  white-space: normal;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}

.photo-montage img {
  width: 100%;
}

.photo-montage div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.photo-montage div div {
  object-fit: cover;
}

.photo-montage-l {
  object-fit: cover;
  width: 100%;
}

.photo-montage-r {
  object-fit: cover;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/
}

/*==============
.photo-montage-one-img
==============*/

.photo-montage-one-img {
  margin: 50px 0 50px 0;
  text-align: center;
  min-width: 100%;
}

.photo-montage-one-img img {
  min-width: 100%;
}

/*==============
.slideshow-img-in-middle
==============*/

.slideshow-img-in-middle {
  padding: 80px 0;
}

/*==============
.slideshow-2-col
==============*/

.slideshow-2-col {
  background-repeat: repeat;
}

.slideshow-2-col div div {
  padding: 0 200px;
}

.slideshow-2-col div div div {
  padding: 0 0;
}

.slideshow-2-col-item img {
  min-width: 90%;
  max-width: 90%;
}

.slideshow-2-col-item p {
  text-align: left;
  padding-top: 10px;
  padding-left: 5%;
}

/*==============
.photo-montage-one-img
==============*/

.photo-montage-one-vid {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.photo-montage-one-vid div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/
  .slideshow-2-col div div {
    padding: 0 0;
  }
  .slideshow-2-col-item img {
    min-width: 100%;
    max-width: 100%;
  }
  .slideshow-2-col-item p {
    text-align: left;
    padding-top: 10px;
    padding-left: 5%;
  }
}
