/*
==================================
Project-cover Section
==================================
*/

#video-landing {
  position: relative;
  height: 500px;
  background: #EDEDED;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #000;
  font-size: 14px;
  font-size: 14px;
  line-height: 24px;
  font-family: "FuturaLT", sans-serif;
}

#video-landing div {
  position: absolute;
  top: 0;
  margin: 0px 0 0 0;
  padding: 0 0 0 0;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
  /*background: rgba(0, 0, 0, 0.5);*/
  width: 100%;
}

#video-landing div div {
  width: 100%;
}

#block2 {
  white-space: normal;
  z-index: 1;
  width: 100%;
  height: 600px;
}

#video-landing-caption {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.video-text {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 500px;
  color: white;
}

.video-text h1 {
  position: relative;
  top: 320px;
  font-weight: bold;
  font-size: 32px;
  text-align: left;
}

.video-text h2 {
  position: relative;
  top: 320px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}

.video-text h2 {
  position: relative;
  top: 320px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}

.video-text a {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  z-index: 2;
  background: white;
  padding: 10px 15px;
  border-radius: 25px;
}

.video-text a:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
}

.video-landing-text {
  position: relative;
  float: right;
  top: 0;
  color: black;
  z-index: 2;
  width: 100%;
  text-align: right;
  padding: 100px 0 100px 0;
}

.video-landing-text-l {
  font-weight: bold;
  width: 80%;
  text-align: left;
}

.video-landing-text-r {
  text-align: left;
  width: 80%;
}

/*--------------------------------------------------------------
# Section: photo-montage
--------------------------------------------------------------*/

.photo-montage {
  position: relative;
  white-space: normal;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}

.photo-montage img {
  width: 100%;
}

.photo-montage div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.photo-montage div div {
  object-fit: cover;
  min-height: 500px;
}

.photo-montage-l {
  object-fit: cover;
  width: 100%;
}

.photo-montage-r {
  object-fit: cover;
  width: 100%;
}

/*==============
.slideshow
==============*/

.slideshow {
  white-space: normal;
  position: relative;
  margin: 100px 0 100px 0;
  float: none;
  top: 0;
}

.slideshow-img-on-right {
  padding: 0 0 0 100px;
}

.slideshow-img-on-left {
  padding: 0 100px 0 0px;
}

.slideshow-item img {
  display: block;
  padding: 0 10%;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}

.slideshow .slideshow-text {
  max-height: 500px;
}

.slideshow .slideshow-text h2 {
  color: #000;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  font-weight: bold;
}

.slideshow .slideshow-text p {
  width: 100%;
  height: 100%;
  padding: 0 0;
  color: #000;
  text-align: left;
}

.slideshow .owl-dot {
  right: 0;
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.slideshow .owl-dot.active {
  background-color: #18d26e;
}

.slideshow .owl-nav, .slideshow .owl-dots {
  position: absolute;
  bottom: 10px;
}

.slideshow-img-on-left .owl-nav, .slideshow-img-on-left .owl-dots {
  right: -30%;
  padding-right: 0;
  text-align: right;
}

.slideshow-img-on-right .owl-nav, .slideshow-img-on-right .owl-dots {
  left: -30%;
  padding-left: 0;
  text-align: left;
}

/*TODO*/

.slideshow-img-in-middle div{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.photo-montage-one-img {
  margin: 50px 0 50px 0;
  text-align: center;
  width: 100%;
}

.photo-montage-one-img img {
  width: 100%;
}

/*==============
.slideshow-2-col
==============*/

.slideshow-2-col {
  background-repeat: repeat;
}

.slideshow-2-col div div {
  padding: 0 200px;
}

.slideshow-2-col div div div {
  padding: 0 0;
}

.slideshow-2-col-item img {
  min-width: 90%;
  max-width: 90%;
}

.slideshow-2-col-item p {
  text-align: left;
  padding-top: 10px;
  padding-left: 5%;
}
