/* 
    https://codepen.io/anon/pen/vRoOzK/?editors=0110
    https://www.youtube.com/watch?v=UTFExS3IW5Q    
    https://reactjs.org/docs/animation.html
*/

.samples {
    text-align: center;
}
  
.example-enter {
    opacity: 0.01;
    background: blue;
    height: 0px;
    transform: translate(400px);    
}

.example-enter.example-enter-active {
    opacity: 1;
    height: 400px;
    transition:  5s ease-out;
    transform: translate(0%)
}
  
.example-leave {
    opacity: 1;
}
  
.example-leave.example-leave-active {
    opacity: 0.01;
    height: 0px;
    width: 0px;
    transition: 2000ms;
    transform: translate(-300px,0px);
}

.example-appear {
    opacity: 0.01;
    width: 0px;
    transform:translate(100%);
}
  
.example-appear.example-appear-active {
    opacity: 1;
    height: 300px;
    width: 300px;
    transition:  all 5s;
    transform: translate(0%);
}
  
.theItems {
    width: 300px;
    height: 300px;
    background-color: green;
    float: left;
    border: solid 2px white;
    box-sizing: border-box;
    display: inline-block;
    border: solid black 5px;
}