body{
  white-space: initial;
}
.schoolVR *, #scroller, #main{
  margin:0;
  padding:0;
}

/* section 01 */
.schoolVR #section01{
  width:100%;
  height:100%;
  position: relative;
}
.schoolVR #section01 .wrap{
  width:600px;
  position: absolute;
  top:20%;
  left:50%;
  z-index: 2;
  transform: translate3d(-50%,0,0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.schoolVR #section01 .wrap #vrIcon{
  width: 123px;
  height: 67px;
  background:url('../images/schoolVR/vr_icon.svg') center no-repeat;
}
.schoolVR #section01 .wrap #vrIcon:before{
  content:'';
  padding-top:40%;
}
.schoolVR #section01 .wrap #schoolvrIcon{
  width:485px;
  height:69px;
  background:url('../images/schoolVR/schoolvr_icon.svg') center no-repeat;
}