.tapping-page .work-to-lab-switch,
.tapping-page .work-to-lab-switch-for-mobile {
  color: #FFFFFF;
}
.tapping-page .video-wrapper {
  padding-top: 56.25%;
  position: relative;
}
.tapping-page .video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tapping-page .details {
  padding: 0 15px;
}