@import 'globals.scss';


.lab-section-container {
  --labSectionContainerNormalHeight: 60vh;
  --labSectionContainerMobileHeight: 355px;
}

.lab-section-container .lab-section {
  position: relative;

  height: var(--labSectionContainerNormalHeight);
  // padding-top: 28.125%;
}

.lab-section-container .title {
  font-size: 5.5vw;
  font-weight: bold;
  padding: 10% 10% 5.5% 5%;
  line-height: 1.3em;
}

.lab-section-container .lab-section .lab-video {
  // width: 300px;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  visibility: hidden;  
}

.lab-section-container .lab-section .video-text-outer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.lab-section-container .lab-section canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.lab-section-container .lab-section .video-text-inner-container {
  --videoTextContainerFontColor: #fff;
  
  // mix-blend-mode: exclusion;

  position: relative;
  width: 100%;
  height: 100%;
}

.lab-section-container .lab-section .video-text-inner-container a {
  color: var(--videoTextContainerFontColor);
}

.lab-section-container .lab-section .desc-container {
  position: absolute;
  bottom: 20%;
  right: 5%;

  max-width: 440px;

  left: 50%;
  padding-left: 15px;
  right: 0;
  max-width: 50%;
}

.lab-section-container .lab-section .desc {  
  font-weight: bold;
  font-size: 2.5vw;
  // line-height: 3.7vw;
  // font-size: 2.5em;
  line-height: 1.35em;
  color: var(--videoTextContainerFontColor);  
}

.lab-section-container .lab-section .interaction-hint-return-icon-container {
  position: relative;
  top: -0.7em;
}

.lab-section-container .lab-section .interation-hint-container {
  transition: var(--defaultTransition);
  opacity: 1;
  visibility: visible;
}

.lab-section-container .lab-section .interation-hint-container-for-mobile {
  transition: var(--defaultTransition);
  opacity: 0;
  visibility: hidden;
}

.lab-section-container .lab-section .interaction-hint {  
  margin-top: 1em;
  font-size: 1.5vw;
  // font-size: 1.375em;
}

html[lang=en] .lab-section-container .lab-section .interaction-hint {  
  font-family: serif;
}


@include media-breakpoint-down(sm) {
  .lab-section-container .lab-section{
    height: var(--labSectionContainerMobileHeight);
    background-color: #000;
  }
  .lab-section-container .lab-section .video-text-inner-container {
    --videoTextInnerContainerTopBottomPadding: 10%;
    --videoTextInnerContainerLeftPadding: 5%;
    
    --videoTextInnerContainDefaultTransition: var(--defaultTransition);
  }
  .lab-section-container .title {
    font-size: em(30);
    padding: 20% 5% 10% 5%;
  }
  .lab-section-container .lab-section .desc-container {
    position: absolute;
    top: var(--videoTextInnerContainerTopBottomPadding);
    left: var(--videoTextInnerContainerLeftPadding);
    right: var(--videoTextInnerContainerLeftPadding);
    max-width: 100%;
    padding-left: 0;
    transition: var(--videoTextInnerContainDefaultTransition);
  }
  .lab-section-container .lab-section .desc {
    font-size: 30px;
    line-height: 40px;
  }
  .lab-section-container .lab-section .interation-hint-container {    
    opacity: 0;
    visibility: hidden;
  }  
  .lab-section-container .lab-section .interation-hint-container-for-mobile {
    transition: var(--defaultTransition);
    opacity: 1;
    visibility: visible;
  }
  .lab-section-container .lab-section .interaction-hint {  
    font-size: 30px;

    position: absolute;
    bottom: var(--videoTextInnerContainerTopBottomPadding);
    left: var(--videoTextInnerContainerLeftPadding);

    transition: var(--videoTextInnerContainDefaultTransition);
  }
}