@import 'functions.scss';


.lab-section-container {
  --labSectionContainerNormalHeight: 500px;
  --labSectionContainerMobileHeight: 355px;
}

.lab-section-container #labSection {
  position: relative;

  height: var(--labSectionContainerNormalHeight);
}

.lab-section-container .title {
  font-size: 6.5vw;
  font-weight: bold;
  padding: 5% 10% 2.5% 10%;
}

.lab-section-container #labSection #video {
  width: 300px;
  
  position: absolute;
  top: 0;
  left: 0;
  
  visibility: hidden;  
}

.lab-section-container #labSection .video-text-container {
  --videoTextContainerFontColor: #fff;

  max-width: 440px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: var(--videoTextContainerFontColor);
}

.lab-section-container #labSection .video-text-container a {
  color: var(--videoTextContainerFontColor);
}

.lab-section-container #labSection .desc {  
  font-weight: bold;
  font-size: 3vw;
  line-height: 3.7vw;
}

.lab-section-container #labSection .interaction-hint-return-icon-container {
  position: relative;
  top: -0.7em;
}

.lab-section-container #labSection .interaction-hint {  
  margin-top: 1em;
  font-family: serif;
  font-size: 1.5vw;
}


@media only screen and (max-width: 768px) {
  .lab-section-container #labSection{
    height: var(--labSectionContainerMobileHeight);
    background-color: #000;
  }
  // .lab-section-container #labSection .video-text-container {
  //   top: 0;
  //   left: 0;
  // }
  .lab-section-container .title {
    font-size: em(30);
    padding: 5% 5% 5% 5%;
  }
  .lab-section-container #labSection .desc{
    font-size: 30px;
    line-height: 40px;
  }
  .lab-section-container #labSection .interaction-hint {  
    font-size: 15px;
  }
}