.lab-section-container #labSection {
  position: relative;
}

.lab-section-container .title {
  font-size: 70px;
  font-weight: bold;
  padding: 5% 10% 5% 10%;
}

.lab-section-container #labSection #video {
  width: 300px;
  
  position: absolute;
  top:0;
  left:0;
  
  visibility: hidden;  
}

.lab-section-container #labSection .video-text-container {
  max-width: 440px;
  position: absolute;
  bottom: 55px;
  right: 15%;
  color: #fff;
  font-size: 47px;
}

.lab-section-container #labSection .desc {
  line-height: 51px;
  font-weight: bold;
}

.lab-section-container #labSection .interaction-hint {
  font-family: 'Semibold';
  font-size:24px;
  padding-top:20px;
}


@media only screen and (max-width: 768px) {
  #labSection{
    height:355px !important;
  }
  .lab-section-container .title{
    font-size:46px;
    line-height: 65px;
  }
  .lab-section-container #labSection .desc{
    font-size:30px;
    line-height: 40px;
  }
}